#container {
    display: flex;
}
.column {
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.column:last-child {
    align-items: flex-end;
}

.dispositions {
    padding: 10px;
    border: 1px solid black;
    margin: 5px;
}

.customer-box {
    border: 2px solid #000;
    padding: 10px;
}

#customer-table {
    /* width: 100%; */
    table-layout: fixed;
    border-collapse: collapse;
}
.customer-row {
    margin-right: 100px;
}

#data-table {
    border-collapse: collapse;
    /* width: 100%; */
}
.dynamic-th, .dynamic-td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}